* {
    margin: 0;
    padding: 0;
}

.box {
    border: 2px solid blue;
     /* display: inline;    In this property -> padding-top, margin-top and also width not apply thatswhy we use inline-block  */
    display: inline-block;
    width: 344px;
    padding: 45px;
    margin: 34px;
}

.box1{
    /* display: none; */ /* When we use this property when we want show */
   /* visibility: hidden; */ /* When we use this property when place of this have but not show */
    /* display: flex; */
    /* display: inline-flex; */
    /* display: grid; */
    /* display: inline-grid; */
}