*{
    /* Universal  Selector - The specificity of this selector is 0 points  */
    color: blue;
}

h1{
    /* Element Selector - The specificity of this selector is 1 points  */
    color: brown;  
}

/* Class Selector - The specificity of this selector is 1 + 10 = 11 points 
h1.yellow{
    color: yellow;
}

.cred{
    color: red;
}

.cpurple{
    color: purple;
}

[data-x=a]{
    color: hotpink;
}

*/
 /* Id Selector - The specificity of this selector is 100 points  */
#h1{
    color: green;
}

/*  - The specificity of this selector is 1 + 10 + 10 + 10 10 = 41 points  */
a.viniclass.vivek-class[href]:hover{
    color: blueviolet;
}
