.container{
    height: 888px;
    width: 866px;
    border: 2px solid black;
   background-image: url(img2.jpg);
   /* background-position: center center; */
   background-repeat: no-repeat;
   background-position: center;
   background-clip: border-box;
   background-size: cover;
}

img{
    width: 466px;
    height: 488px;
    object-fit: cover;
    /* object-fit: fill; */
    /* object-fit: contain; */
    /* object-fit: scale-down; */
    /* object-position: bottom right; */
    /* object-position: 10px 20px; */
    /* object-position: 50% 50%; */
}